<html>
        <head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
          <title>Friends</title>
        </head>
        <body>
          <div id = 'wrapper'>
            <!-- we can use the line below to see all of our data in our template -->
            <!-- with all the data we can then construct a more structured output -->
            <table>
            <tr>
              <th>id</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Created At</th>
              <th>Actions</th>
              
            </tr>
              <!-- special formatting for just the first date -->
         
       
              
              
            </table>
              
            <!-- <a href="/users/new">Add User</a>   -->
          </div>
        </body>
    </html>