<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'srusers_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
        
        <title>Friends</title>
    </head>
    <body>
        <div id = 'wrapper'>
        <!-- <h1>User {{user.id}}</h1> -->
        
        <h1>User {{user.id}} </h1>
        <!-- we can use the line below to see all of our data in our template -->
        <!-- with all the data we can then construct a more structured output -->

        <table border = 1>
            <tr>
                <th>id</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
            </tr>
                
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}} {{user.last_name}}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.created_at}}</td>
            </tr>
        </table>
         <a href="/users/{{user.id}}/edit">Edit</a> | <a href="/users/{{user.id}}/destroy">Delete</a>

            
    </div>
    </body>
</html>